{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "FABULAULTIMA.Details"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <label for="system.abbr" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.ClassAbbr"}}</label>
            <input type="text" name="system.abbr" value="{{system.abbr}}" data-dtype="String"/>

            <label for="system.healthBonus" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.HealthBonus"}}</label>
            <input type="text" name="system.healthBonus" value="{{system.healthBonus}}" data-dtype="String"/>
            <label for="system.mindBonus" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.MindBonus"}}</label>
            <input type="text" name="system.mindBonus" value="{{system.mindBonus}}" data-dtype="String"/>
            <label for="system.inventoryBonus" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.InventoryBonus"}}</label>
            <input type="text" name="system.inventoryBonus" value="{{system.inventoryBonus}}" data-dtype="String"/>

            {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
