<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor description target="description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.class" class="resource-label long">{{localize "FABULAULTIMA.Class"}}</label>
        <select name="system.class" id="class-select">
          {{#each system.classes as |class key|}}
            {{option class.system.abbr class.name ../system.class}}
          {{/each}}
        </select>
      </div>

      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.timing" class="resource-label long">{{localize "FABULAULTIMA.Timing"}}</label>
        <select name="system.timing" id="class-select">
          {{#each system.timings as |timing key|}}
            {{option key (localize timing) ../system.timing}}
          {{/each}}
        </select>
      </div>

      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.maxLevel" class="resource-label long">{{localize "FABULAULTIMA.MaxLevel"}}</label>
        <input type="text" name="system.maxLevel" value="{{system.maxLevel}}" data-dtype="Number"/>
      </div>

      <br>
      <span class="resource-label">{{localize "FABULAULTIMA.FeatureCost"}}</span>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.cost.resource" class="resource-label long">{{localize "FABULAULTIMA.FeatureResource"}}</label>
        <select name="system.cost.resource">
          {{#each system.costResources as |resource key|}}
            {{option key (localize resource) ../system.cost.resource}}
          {{/each}}
        </select>

        <label for="system.cost.amount" class="resource-label long">{{localize "FABULAULTIMA.FeatureAmount"}}</label>
        <input type="text" name="system.cost.amount" value="{{system.cost.amount}}" data-dtype="Number"/>
      </div>
      <br>
      <span class="resource-label">{{localize "FABULAULTIMA.PassiveBonuses"}}</span>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.hpBonus" class="resource-label long">{{localize "FABULAULTIMA.HealthBonus"}}</label>
        <input type="text" name="system.passive.hpBonus" value="{{system.passive.hpBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.mpBonus" class="resource-label long">{{localize "FABULAULTIMA.MindBonus"}}</label>
        <input type="text" name="system.passive.mpBonus" value="{{system.passive.mpBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.ipBonus" class="resource-label long">{{localize "FABULAULTIMA.InventoryBonus"}}</label>
        <input type="text" name="system.passive.ipBonus" value="{{system.passive.ipBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.openTestBonus" class="resource-label long">{{localize "FABULAULTIMA.OpenBonus"}}</label>
        <input type="text" name="system.passive.openTestBonus" value="{{system.passive.openTestBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.meleePrecisionBonus" class="resource-label long">{{localize "FABULAULTIMA.MeleePrecisionBonus"}}</label>
        <input type="text" name="system.passive.meleePrecisionBonus" value="{{system.passive.meleePrecisionBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.rangedPrecisionBonus" class="resource-label long">{{localize "FABULAULTIMA.RangedPrecisionBonus"}}</label>
        <input type="text" name="system.passive.rangedPrecisionBonus" value="{{system.passive.rangedPrecisionBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.meleeDamageBonus" class="resource-label long">{{localize "FABULAULTIMA.MeleeDamageBonus"}}</label>
        <input type="text" name="system.passive.meleeDamageBonus" value="{{system.passive.meleeDamageBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.rangedDamageBonus" class="resource-label long">{{localize "FABULAULTIMA.RangedDamageBonus"}}</label>
        <input type="text" name="system.passive.rangedDamageBonus" value="{{system.passive.rangedDamageBonus}}" data-dtype="Number"/>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.passive.condition" class="resource-label long">{{localize "FABULAULTIMA.Condition"}}</label>
        <input type="text" name="system.passive.condition" value="{{system.passive.condition}}" data-dtype="String"/>
      </div>

      <br>
      <span class="resource-label">{{localize "FABULAULTIMA.ActiveEffects"}}</span>
      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.active.customFormula" class="resource-label long">{{localize "FABULAULTIMA.CustomFormula"}}</label>
        <input type="text" name="system.active.customFormula" value="{{system.active.customFormula}}" data-dtype="String"/>
      </div>

      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.active.actionType" class="resource-label long">{{localize "FABULAULTIMA.ActionType"}}</label>
        <select name="system.active.actionType" id="class-select">
          {{#each system.actionTypes as |actionType key|}}
            {{option key (localize actionType) ../system.active.actionType}}
          {{/each}}
        </select>
      </div>

      <div class="resource-content flexrow flex-center flex-between">
        <label for="system.active.givesFreeAttack" class="resource-label long">{{localize "FABULAULTIMA.GivesFreeAttack"}}</label>
        {{#if system.active.givesFreeAttack}}
          <input type="checkbox" checked="checked" name="system.active.givesFreeAttack" data-dtype="Boolean"/>
        {{else}}
          <input type="checkbox" name="system.active.givesFreeAttack" data-dtype="Boolean"/>
        {{/if}}
        </div>
    </div>
  </section>

</form>
