$progress-bar-border: 1px solid #000;
$progress-bar-background: rgba(0,0,0,0.1);

.progress-bar {
    display: flex;
    flex-direction: column;
    
    .values {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        label {
            display: flex;
            flex: 1 0 auto;
            align-self: center;
        }
        
        .value-range {
            display: flex;
            flex-direction: row;
            
            input {
                margin-left: 1rem;
                text-align: right;
            }
            
            .max-value {
                padding: 1px 3px;
                align-self: center;
            }
        }
    }
    
    .bar {
        display: flex;
        
        progress[value] {
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance: none;
            flex: auto;
        }
        
        progress::-webkit-progress-bar {
            flex: auto;
            border: $progress-bar-border;
            background-color: $progress-bar-background;
            border-radius: 3px;
            height: 8px;
        }
        
        progress::-webkit-progress-value {
            background-color: #5b5398;
        }
    }
}