<span class="resource-label">{{localize "FABULAULTIMA.Quality"}}</span>
<div class="resource-content flexrow flex-center flex-between">
    {{editor content=system.quality.description target="system.quality.description" rollData=rollData button=true owner=owner editable=editable}}
</div>

<div class="resource-content flexrow flex-center flex-between">
    <label for="system.quality.overrideDamageType" class="resource-label long">{{localize "FABULAULTIMA.DamageType"}}</label>
    <select name="system.quality.overrideDamageType">
        {{#each system.damageTypes as |damageType key|}}
        {{option key (localize damageType) ../system.damage.type}}
        {{/each}}
    </select>
</div>

<div class="resource-content flexrow flex-center flex-between">
    <label for="system.quality.initiativeBonus" class="resource-label long">{{localize "FABULAULTIMA.InitiativeBonus"}}</label>
    <input type="text" name="system.quality.initiativeBonus" value="{{system.quality.initiativeBonus}}" data-dtype="Number"/>

    <label for="system.quality.precisionBonus" class="resource-label long">{{localize "FABULAULTIMA.PrecisionBonus"}}</label>
    <input type="text" name="system.quality.precisionBonus" value="{{system.quality.precisionBonus}}" data-dtype="Number"/>

    <label for="system.quality.defenseBonus" class="resource-label long">{{localize "FABULAULTIMA.DefenseBonus"}}</label>
    <input type="text" name="system.quality.defenseBonus" value="{{system.quality.defenseBonus}}" data-dtype="Number"/>

    <label for="system.quality.magicDefenseBonus" class="resource-label long">{{localize "FABULAULTIMA.MagicDefenseBonus"}}</label>
    <input type="text" name="system.quality.magicDefenseBonus" value="{{system.quality.magicDefenseBonus}}" data-dtype="Number"/>
</div>